body{
    background-color: white;
}
.section_principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 38em;
    background: white;
    margin: auto;
    border: 0.1em solid black;
}
.ma_photo img{
    width: 500px;
    float: left;
    clear: right;
    height: 38em;
}
.inscription{
    width: 100%;
    float: right;
    float: top;
    clear: left;
    display: flex;
    flex-direction: column;
    padding: 5em;
}

.formulaire{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.nom, .prenom, .p_radio, .company, .mail, .phone, .preference, .cheque, .drawn, .payable{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 2em;
    
}
.nom_preference, .prenom_radio, .company_radio, .mail_drawn, .phone_payable, .radio{
    display: flex;
    flex-direction: row;
    margin-left: 1em;
}

.payement{
    width: 100%;
    float: right;
    float: top;
    clear: left;
    display: flex;
    flex-direction: column;
    padding: 5em;
}
button{
    width: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px;
    height: 3em;
    background-color: rgb(7, 226, 190);
    color: white;
    float: right;
    clear: left;
    margin-right: 1em;
}
button[class=reset]{
    width: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 3em;
    background-color: white;
    color: black;
    float: right;
    
}

.us{
    display: flex;
    flex-direction: row;
}
input[name=us2]{
    width: 8%;
    height: 3em;
    background-color: rgb(7, 226, 190);
    border: 1px solid rgb(7, 226, 190);
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    color: white;
}

input[name=us1]{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(7, 226, 190);
    width: 45%;
}
input[name=us3]{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(123, 126, 125);
    width: 45%;
    margin-right: 2em;
    opacity: 0.5;
}

.donate{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-left: 1em;
    
}
input{
    height: 1.5em;
}